@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

:root {
  --base-font: 'Kdam Thmor Pro', sans-serif;

  --background-color: #f0f2f3;
  --text-color: #191919;
  --primary-color: #d55d92;
  --secondary-color: #0c9b5e;
  --secondary-color-light: #0ead69;
  --tertiary-color: #822faf;

  --logo-color: var(--primary-color);
  --score-color: var(--tertiary-color);

  --dialog-background: #202e2e66;
  --title-color: var(--tertiary-color);
  --message-color: var(--primary-color);

  --button-color: var(--secondary-color);
  --button-color-light: var(--secondary-color-light);
  --button-text-color: #ebebeb;
  --button-text-color-light: #fafafa;

  --game-board-background: #c7cfd3;
  --game-board-background-2: #edeff0;

  --square-background-2: #f6e7c3;
  --square-background-4: #f1dba5;
  --square-background-8: #e9c46a;
  --square-background-16: #f4a261;
  --square-background-32: #eb8b73;
  --square-background-64: #e76f51;
  --square-background-128: #54b0a5;
  --square-background-256: #258d80;
  --square-background-512: #516a75;
  --square-background-1024: #264653;
  --square-background-2048: #7678ed;
  --square-background-4096: #7cb518;
  --square-background-8192: #ec0868;

  --square-text-color-1: #3b5864;
  --square-text-color-2: #fafbfb;

  /* --game-board-background: #353539;
  --game-board-background-2: #e4e5ee;

  --square-background-2: #FEC89A;
  --square-background-4: #FFD7BA;
  --square-background-8: #FFE5D9;
  --square-background-16: #ECE4DB;
  --square-background-32: #D8E2DC;
  --square-background-64: #E8E8E4;
  --square-background-128: #F8EDEB;
  --square-background-256: #FAE1DD;
  --square-background-512: #FCD5CE;
  --square-background-1024: #FEC5BB;
  --square-background-2048: #e4b1a8;
  --square-background-4096: #ec9a29;
  --square-background-8192: #29bf12;

  --square-text-color-1: #333232;
  --square-text-color-2: #3e3a3a; */

  /* --game-board-background: #999ac6;
  --game-board-background-2: #b8bacf;

  --square-background-2: #0091ad;
  --square-background-4: #1780a1;
  --square-background-8: #2e6f95;
  --square-background-16: #455e89;
  --square-background-32: #5c4d7d;
  --square-background-64: #723c70;
  --square-background-128: #892b64;
  --square-background-256: #a01a58;
  --square-background-512: #b7094c;
  --square-background-1024: #df2935;
  --square-background-2048: #080708;
  --square-background-4096: #ec9a29;
  --square-background-8192: #29bf12;

  --square-text-color-1: #ebebeb;
  --square-text-color-2: #f5f5f5; */

  --move-time: 250ms;
  --pop-up-time: 250ms;
  --new-number-time: 300ms;
}
* {
  box-sizing: border-box;
}
body {
  cursor: default;
  margin: 0;
  background-color: var(--background-color);
  font-family: var(--base-font);
}
.dialog-wrapper {
  z-index: 7;
  position: fixed;
  display: none;
  width: 100%;
  height: 100vh;
}
.dialog-fade-in {
  display: block;
  background-color: var(--dialog-background);
  animation: opacity-increase 500ms;
}
.dialog-fade-out {
  display: block;
  background-color: var(--dialog-background);
  animation: opacity-decrease 500ms;
}
.dialog-container {
  position: relative;
  top: 18rem;
  width: 19rem;
  height: 19rem;
  margin: auto;
  padding: 1.5rem 1rem;
  border-radius: 0.3rem;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.dialog-title {
  font-size: 2rem;
  color: var(--title-color);
}
.dialog-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dialog-message {
  color: var(--message-color);
  font-size: 1.5rem;
}
.dialog-text {
  font-size: 1.2rem;
}
.dialog-score {
  font-size: 1.5rem;
}
.dialog-button {
  width: 7rem;
  margin-top: 0.3rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  text-align: center;
  color: var(--button-text-color);
  background-color: var(--button-color);
}
.dialog-button:hover {
  cursor: pointer;
  color: var(--button-text-color-light);
  background-color: var(--button-color-light);
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-wrapper {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
}
.logo-container {
  display: flex;
  align-items: flex-end;
  width: 29rem;
  padding: 0 1rem;
  padding-bottom: 0;
}
.logo {
  margin-bottom: -1rem;
  font-size: 4rem;
  color: var(--logo-color);
}
.header-line {
  width: 100%;
  height: 0.4rem;
  margin-left: 0.3rem;
  margin-bottom: 0.6rem;
  font-size: 0.8rem;
  border-radius: 0.2rem;
  background-color: var(--logo-color);
}
.main-wrapper {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
}
.main-container {
  width: 29rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.score-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 1rem 0 1rem;
}
.score-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 0.5rem;
}
.score-board {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  color: var(--score-color);
}
.score-title {
  font-size: 0.8rem;
}
.score-text {
  font-size: 1.7rem;
  text-align: right;
}
.new-game-button {
  height: 2.8rem;
  width: 10.2rem;
  padding: 0.6rem 0.8rem;
  margin-bottom: 0.6rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  text-align: center;
  color: var(--button-text-color);
  background-color: var(--button-color);
}
.new-game-button:hover {
  cursor: pointer;
  color: var(--button-text-color-light);
  background-color: var(--button-color-light);
}
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-board {
  width: 27rem;
  height: 27rem;
  padding: 0.6rem;
  border-radius: 0.3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  background-color: var(--game-board-background);
}
.game-board-base {
  z-index: 1;
  position: absolute;
  width: 27rem;
  height: 27rem;
  padding: 0.6rem;
  border-radius: 0.3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  background-color: var(--game-board-background);
}
.game-square-base {
  z-index: 2;
  width: 6rem;
  height: 6rem;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  border-radius: 0.3rem;
  background-color: var(--game-board-background-2);
}
.game-square {
  z-index: 3;
  width: 6rem;
  height: 6rem;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 3.4rem;
  text-align: center;
  background-color: var(--game-board-background-2);
}
.footer-wrapper {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
}
.footer-container {
  padding: 3rem 1rem;
  width: 29rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.how-to-play {
  font-size: 0.9rem;
}
.how-to-play-title {
  font-weight: bold;
  color: var(--title-color);
}
.footer-link {
  font-size: 0.9rem;
}
.link-address,
.link-address:visited {
  color: var(--secondary-color);
}
.two-digits {
  padding-top: 0.7rem;
  font-size: 3.1rem;
}
.three-digits {
  padding-top: 1rem;
  font-size: 2.85rem;
}
.four-digits {
  padding: 1.5rem 0 1rem 0;
  font-size: 2rem;
}
.color-2 {
  color: var(--square-text-color-1);
  background-color: var(--square-background-2);
}
.color-4 {
  color: var(--square-text-color-1);
  background-color: var(--square-background-4);
}
.color-8 {
  color: var(--square-text-color-1);
  background-color: var(--square-background-8);
}
.color-16 {
  color: var(--square-text-color-2);
  background-color: var(--square-background-16);
}
.color-32 {
  color: var(--square-text-color-2);
  background-color: var(--square-background-32);
}
.color-64 {
  color: var(--square-text-color-2);
  background-color: var(--square-background-64);
}
.color-128 {
  color: var(--square-text-color-2);
  background-color: var(--square-background-128);
}
.color-256 {
  color: var(--square-text-color-2);
  background-color: var(--square-background-256);
}
.color-512 {
  color: var(--square-text-color-2);
  background-color: var(--square-background-512);
}
.color-1024 {
  color: var(--square-text-color-2);
  background-color: var(--square-background-1024);
}
.color-2048 {
  color: var(--square-text-color-2);
  background-color: var(--square-background-2048);
}
.color-4096 {
  color: var(--square-text-color-2);
  background-color: var(--square-background-4096);
}
.color-8192 {
  color: var(--square-text-color-2);
  background-color: var(--square-background-8192);
}
.move-index {
  z-index: 4;
}
.move-up-1 {
  animation: move-up-1 var(--move-time) ease-out;
}
.move-up-2 {
  animation: move-up-2 var(--move-time) ease-out;
}
.move-up-3 {
  animation: move-up-3 var(--move-time) ease-out;
}
.move-down-1 {
  animation: move-down-1 var(--move-time) ease-out;
}
.move-down-2 {
  animation: move-down-2 var(--move-time) ease-out;
}
.move-down-3 {
  animation: move-down-3 var(--move-time) ease-out;
}
.move-right-1 {
  animation: move-right-1 var(--move-time) ease-out;
}
.move-right-2 {
  animation: move-right-2 var(--move-time) ease-out;
}
.move-right-3 {
  animation: move-right-3 var(--move-time) ease-out;
}
.move-left-1 {
  animation: move-left-1 var(--move-time) ease-out;
}
.move-left-2 {
  animation: move-left-2 var(--move-time) ease-out;
}
.move-left-3 {
  animation: move-left-3 var(--move-time) ease-out;
}
.new-number {
  /* z-index: 4; */
  animation: new-number var(--new-number-time) ease-out;
}
.pop-up {
  z-index: 5;
  animation: pop-up var(--pop-up-time) ease-out;
  transform-origin: center;
}

@keyframes opacity-decrease {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes opacity-increase {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes move-up-1 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-6.6rem);
  }
}
@keyframes move-up-2 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-13.2rem);
  }
}
@keyframes move-up-3 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-19.8rem);
  }
}

@keyframes move-down-1 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(6.6rem);
  }
}
@keyframes move-down-2 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(13.2rem);
  }
}
@keyframes move-down-3 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(19.8rem);
  }
}

@keyframes move-right-1 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(6.6rem);
  }
}
@keyframes move-right-2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(13.2rem);
  }
}
@keyframes move-right-3 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(19.8rem);
  }
}

@keyframes move-left-1 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-6.6rem);
  }
}
@keyframes move-left-2 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-13.2rem);
  }
}
@keyframes move-left-3 {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-19.8rem);
  }
}

@keyframes pop-up {
  0% {
    transform: scale(0);
  }
  85% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes new-number {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
