@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

:root {
  --base-font: 'Kdam Thmor Pro', sans-serif;

  --color-01: #36151e;
  --color-02: #0d1f2d;
  --color-03: #546a7b;
  --color-04: #4b6858;
  --color-05: #51bbfe;
  --color-06: #cab6cd;
  --color-07: #e6e49f;
  --color-08: #edf0f1;
}
* {
  box-sizing: border-box;
}
body {
  cursor: default;
  margin: 0;
  background-color: var(--color-08);
  font-family: var(--base-font);
}
.page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-wrapper {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
}
.logo-container {
  display: flex;
  align-items: flex-end;
  width: 29rem;
  padding: 0 1rem;
  padding-bottom: 0;
}
.logo {
    margin-bottom: -1rem;
  font-size: 4rem;
  color: var(--color-03);
}
.header-line {
  width: 100%;
  height: 0.4rem;
  margin-left: 0.3rem;
  margin-bottom: 0.6rem;
  font-size: 0.8rem;
  border-radius: 0.2rem;
  color: var(--color-08);
  background-color: var(--color-03);
  /* background: linear-gradient(90deg, var(--color-03) 30%, var(--color-08)); */
}
.main-wrapper {
  padding: 0 1rem;
  display: flex;
  justify-content: center;
}
.main-container {
  width: 29rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.score-container {
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.score-board {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-04);
}
.score-title {
  font-size: 0.8rem;
}
.score {
  width: 6rem;
  font-size: 1.7rem;
  text-align: right;
}
.new-game-button {
  width: 7rem;
  margin-top: 0.3rem;
  padding: 0.4rem 0.8rem;
  border-radius: 0.3rem;
  font-size: 1rem;
  text-align: center;
  color: var(--color-08);
  /* color: white; */
  background-color: var(--color-05);
}
.new-game-button:hover {
  cursor: pointer;
  color: white;
  background-color: var(--color-05);
}
.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.game-board {
  width: 27rem;
  height: 27rem;
  padding: 0.6rem;
  border-radius: 0.3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  background-color: var(--color-06);
}
.game-square {
  width: 6rem;
  height: 6rem;
  padding: 0.5rem 0.5rem 1rem 0.5rem;
  border-radius: 0.3rem;
  font-size: 3.4rem;
  text-align: center;
  background-color: var(--color-07);
}
.three-digits {
  padding-top: 1rem;
  font-size: 2.85rem;
}
.four-digits {
  padding: 1.3rem 0.2rem 1rem 0.2rem;
  font-size: 2.2rem;
}
.color-2 {
  color: var(--color-05);
  background-color: var(--color-08);
}
.color-4 {
  color: var(--color-04);
  background-color: var(--color-08);
}
.color-8 {
  color: var(--color-06);
  background-color: var(--color-08);
}
